
    <% layout("layouts/boilerplate.ejs") %>
    <style>
      
        .container {
            width: 300px;
           
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .join-live {
            background-color: #32c864;
            color: white;
            padding: 15px;
            border-radius: 25px;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .user {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            text-decoration: none;
        }
        .user img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .user-name {
            font-size: 16px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-weight: bold;
            
                
            }
            
        
        .user-subname {
            font-size: 14px;
            color: #888;
            margin-top: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="http://localhost:3000" class="join-live">Join live</a>
        
        <div class="user">
            <img src="https://m.media-amazon.com/images/I/51Q33uZVByL.jpg" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Krutikar Bhoyar</div></a>
                <div class="user-subname">~krutika......</div>
            </div>
        </div>
        
        <div class="user">
            <img src="https://i.pinimg.com/736x/87/df/18/87df18a688ee557f23cd9ba8583836f2.jpg" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Poonam Harinkhede</div></a>
                <div class="user-subname">~poonam......</div>
            </div>
        </div>
        
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpEgx1yQM9HCMQEAc03nzRMVcpR_7N-cQjQw&s" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Pratiksha Sharma</div></a>
                <div class="user-subname">~pratiksha........</div>
            </div>
        </div>
        
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpEgx1yQM9HCMQEAc03nzRMVcpR_7N-cQjQw&s" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Neha Bhatt</div></a>
                <div class="user-subname">~neha......</div>
            </div>
        </div>
        
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60gFoDuMDSCwcCEMcsJJb9B8ZaJ9snin7lg&s" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Akshara Kapoor</div></a>
                <div class="user-subname">~akshara........</div>
            </div>
        </div>
        
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60gFoDuMDSCwcCEMcsJJb9B8ZaJ9snin7lg&s" alt="User Icon">
            <div>
               <a href=""> <div class="user-name">Tanuja Sharma</div></a>
                <div class="user-subname">~tanuja..</div>
            </div>
        </div>
    </div>

